<div class="game-grid flex flex-col w-[99vw] h-[99vh]">
    <% @game.rows.times do |row| %>
    <div class="grid-row flex flex-1">
        <% @game.cols.times do |col| %>
        <div class="grid-cell border flex-1 border-orange-100 text-center content-center">
            <div class="text-xs text-gray-400">
                (<%= row %>, <%= col %>)
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</div>

<style>
    .grid-cell {
        position: relative;
        background-color: #f3E0D1;
    }

    .grid-cell .player {
        background: blue;
        height:15px;
        width:15px;
        position: absolute;
        top: 20px;
    }

    .grid-cell .player-red {
        background: red;
        left: 80px;
    }
    .grid-cell .player-green {
        background: green;
        left: 65px;
    }
    .grid-cell .player-blue {
        background: blue;
        left: 50px;
    }
</style>

<script>
    const playerClasses = {
        red: "player-red",
        blue: "player-blue",
        green: "player-green",
    }
    getCommand = (key) => {
        switch (key) {
            case "ArrowUp":
                return "up";
            case "ArrowDown":
                return "down";
            case "ArrowLeft":
                return "left";
            case "ArrowRight":
                return "right";
        }
    }

    addEventListener("keydown", (event) => {
        const command = getCommand(event.key);
        if (command) {
            fetch("/rover/game", {
                    method: 'PUT',
                    headers: {
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        command,
                        player: <%= @player.id.to_json %>
                    })
                })
                .then(response => response.json())
                .then(data => {
                    updateGridState(data.players)
                });
        }
    });

    updateGridState = (players) => {
        // Clean old players position
        document.querySelectorAll(".player").forEach(e => e.remove());

        for (var i = 0; i < players.length; i++) {
            const player = players[i];
            const roverRow = document.querySelector(`.grid-row:nth-child(${player.y + 1})`);
            const roverCell = roverRow.querySelector(`.grid-cell:nth-child(${player.x + 1})`);
            // Draw new player position
            playerCell = document.createElement("div")
            playerCell.classList.add("player", playerClasses[player.name]);
            roverCell.appendChild(playerCell);
        }
    }

    updateGridState( <%= @game.players.to_json.html_safe %> );
</script>
