<div data-controller="game"
    class="game-grid flex flex-col w-[99vw] h-[99vh]"
    data-game-player_id="<%= @player.id %>"
    data-game-players="<%= @game.players.to_json %>">
    <% @game.rows.times do |row| %>
    <div class="grid-row flex flex-1">
        <% @game.cols.times do |col| %>
        <div class="grid-cell border flex-1 border-orange-100 text-center content-center">
            <div class="text-xs text-gray-400">
                (<%= row %>, <%= col %>)
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</div>

<style>
    .grid-cell {
        position: relative;
        background-color: #f3E0D1;
    }

    .grid-cell .player {
        background: blue;
        height:15px;
        width:15px;
        position: absolute;
        top: 20px;
    }

    .grid-cell .player-red {
        background: red;
        left: 80px;
    }
    .grid-cell .player-green {
        background: green;
        left: 65px;
    }
    .grid-cell .player-blue {
        background: blue;
        left: 50px;
    }
</style>
