<div data-controller="game"
    class="game-grid flex flex-col w-[99vw] h-[99vh]"
    data-game-game="<%= @player.game.to_json %>"
    data-game-current_player_id="<%= @player.id %>"
    data-game-players="<%= @game.players.to_json %>">
</div>
