<div class="game-grid flex flex-col w-[99vw] h-[99vh]">
  <% @state.rows.times do |row| %>
  <div class="flex flex-1">
    <% @state.cols.times do |col| %>
    <div class="border flex-1 border-orange-100 text-center content-center <%= row == @state.rover_x && col == @state.rover_y ? "bg-red-200" : " bg-orange-50" %>">
      <div class="text-xs text-gray-400">
        (<%= row %>, <%= col %>)
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
