
.game-grid {
  background: url('mars-texture.jpg');
  position: relative;
}

.booster {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left:15px;
  margin-top:15px;
  border-radius: 50%;
}
.booster-5 {
  background:rgb(170, 115, 14);
  border:3px solid rgb(110, 76, 11);
}
.booster-10 {
  background:rgb(181, 180, 177);
  border:3px solid rgb(95, 95, 95);
}
.booster-20 {
  background:rgb(243, 219, 2);
  border:3px solid rgb(208, 174, 3);
}


.player {
  height: 50px;
  width: 50px;
  position: absolute;
  transition: all 0.5s;
}

#scoreboard {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.chat-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-box-messages {
  display: block;
  flex-grow: 1;
  overflow-y: auto;
  flex-direction: column;
  overflow-anchor: auto;
}

.chat-box-form {
  width: 100%;
  display: flex;
}
.chat-box-input-field {
  flex-grow: 1;
  border: 1px solid white;
}
.chat-box-input-submit {
  padding: 0 10px;
  background: white;
  color: black;
}
